/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}


/* navbar starts here */
.logo{
    text-align: left;
}
.name{
    text-align: right;
}
.navmenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navmenu a {
    background-color: transparent;
    padding: 5px 10px;
    margin: 20px 0;
    border-radius: 10px;
    font-size: 1.2rem;
}
/* navbar ends here */

/* profile starts here */

.upimg {
    position: absolute;
    right: 140px;
    top: 20px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.upimg:hover {
    width: 150px;
}

.prodes p {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    font-size: 1rem;
    color: gray;
}

.botimg {
    position: absolute;
    left: 140px;
    bottom: 20px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.botimg:hover {
    width: 150px;
}

/* profile ends here */


/* about starts here */
.aimg{
    margin-top: 80px;
}

.aimg img {
    height: 270px;
    width: 250px;
}

.ades p {
    text-align: left;
}

/* about me ends here */

/* Professional Experience starts here */

.profexp {
    padding: 1% 5%;
}


/* education starts here */


.profexp .card {
    background-color: #a39e9e;
    border-radius: 5px;
    padding-bottom: 20px;
    transition: 0.3s;
    height: 700px;
}






/* education ends here */